.array {
  display: flex;
  /* margin-right: auto; */
  justify-self: auto;
  align-items: center;
  width: fit-content;
  font-size: 3rem;
  height: 7rem;
}

.array-fixed {
  margin: .3rem 0;
  display: flex;
  width: 100%;
  align-items: center;
  font-size: 3rem;
  height: 5rem;
  position: relative;
  /* margin: 1rem 0; */
}

.title {
  margin-right: 1rem;
}

.title-fixed {
  margin-right: 1rem;
  width: 25rem;
  text-align: right;
  font-size: 2.5rem;
}

.table {
  border-spacing: .2rem; 
  border-collapse: collapse;
}

.table-fixed {
  border-spacing: .2rem; 
  border-collapse: collapse;
  position: absolute;
  left: 26.5rem;
}

.element {
  background-color: #dee0e4;
  padding: .2rem .6rem;
  margin-right: .5rem;
  border-radius: 5px;
  box-shadow: .3rem .3rem .6rem #11111122;
  font-size: 2.5rem;
}

.active {
  background-color: #8093f1;
  color: white;
  display: inline-block;
}