.array {
  display: flex;
  width: 100%;
  align-items: center;
  font-size: 3rem;
  height: 7rem;
}

.title {
  margin-right: 2rem;
}

table {
  border-spacing: .2rem; 
  border-collapse: collapse;
}

.element {
  background-color: lightblue;
  border: 1px solid black;
  padding: .2rem .6rem;
}

.active {
  background-color:crimson;
}