.array-container {
  width: 100%;
  overflow-x: auto;
}

.array-container-fit-content {
  width: fit-content;
}

.array {
  display: flex;
  /* margin-right: auto; */
  justify-self: auto;
  align-items: center;
  width: fit-content;
  font-size: 2.6rem;
  height: 7.5rem;
  white-space: nowrap;
}

.array-fixed {
  margin: 0.3rem 0;
  display: flex;
  width: 100%;
  align-items: center;
  font-size: 3rem;
  height: 5rem;
  position: relative;
  /* margin: 1rem 0; */
  white-space: nowrap;
}

.title {
  margin-right: 1rem;
}

.title-fixed {
  margin-right: 1rem;
  width: 25rem;
  text-align: right;
  font-size: 2.5rem;
}

.table {
  border-spacing: 0.2rem;
  border-collapse: collapse;
  width: 100%;
}

.table-fixed {
  border-spacing: 0.2rem;
  border-collapse: collapse;
  position: absolute;
  left: 26.5rem;
}

.element {
  background-color: #dee0e4;
  padding: 0.2rem 0.6rem;
  margin-right: 0.5rem;
  border-radius: 5px;
  box-shadow: 0.3rem 0.3rem 0.6rem #11111122;
  font-size: 2.2rem;
}

.active {
  background-color: #8093f1;
  color: white;
  display: inline-block;
}

@media only screen and (max-width: 768px) {
  .array {
    margin-top: 1rem;
    display: block;
    height: 10rem;
  }

  .title {
    margin-bottom: .3rem;
  }

  .title-fixed {
    margin-right: 1rem;
    width: 22rem;
    text-align: right;
    font-size: 2.5rem;
  }

  .table-fixed {
    position: absolute;
    left: 23.5rem;
  }
}

