* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  color: #3e3e3f;
}

body {
  background-color: #f4f4ed;
}

hr {
  width: 90%;
  color: #3e3e3f;
  margin: 1rem 0;
}
