* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: rgb(40, 101, 161);
}

.explanation-button {
  margin: 3rem 0 1rem;
  padding: 1rem;
}

.result {
  height: 7rem;
  width: 100%;
  font-size: 3rem;
  text-align: left;
}
