* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  color: #3e3e3f;
}

body {
  background-color: #f4f4ed;
  overflow: hidden;
}

hr {
  width: 90%;
  color: #3e3e3f;
  margin: 1rem 0;
}

.material-symbols-outlined {
  font-size: 2.5rem;
  color: #515152;
  font-weight: bold;
}

.infix {
  overflow-x: auto;
  width: 100%;
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 2560px) {
  html {
    font-size: 85%;
  }
}

@media only screen and (max-width: 2560px) {
  html {
    font-size: 80%;
  }
}

@media only screen and (max-width: 1920px) {
  html {
    font-size: 62.5%;
  }
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 55%;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 580px) {
  html {
    font-size: 45%;
  }
}

@media only screen and (max-width: 425px) {
  html {
    font-size: 40%;
  }
}

@media only screen and (max-width: 320px) {
  html {
    font-size: 35%;
  }
}


