.form {
  height: 5rem;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
  position: relative;
}

.input {
  height: 100%;
  flex-grow: 1;
  font-size: 2rem;
  padding-left: 1rem;
  border: none;
  border-bottom: 2px solid #dee0e4;
  color: #3e3e3f;

}

.input:focus {
  outline: none;
}

.calculate-button {
  text-transform: uppercase;
  padding: 0 1rem;
  height: 100%;
  position: absolute;
  right: -1rem;
  background-color: #dee0e4;
  border: none;
  font-size: 3rem;
  color: #6c6c6f;
  border-radius: 5px;
  transition: all .3s;
}

.calculate-button:hover {
  cursor: pointer;
  background-color: #b1b2b3;

}