.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.35);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  /* height: 80vh; */
  background-color: white;
  padding: 3rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
  scrollbar-width: auto;
  scrollbar-color: #8f8f8f #ffffff;
}

.children {
  max-height: 97%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal::-webkit-scrollbar {
  width: 2.3rem;
}

.modal::-webkit-scrollbar-track {
  margin: 0.3rem;
  background: transparent;
}

.modal::-webkit-scrollbar-thumb {
  background-color: #8f8f8f;
  border-radius: 4rem;
  border: 1rem solid #ffffff;
}

/* @media (min-width: 768px) {
    .modal {
      width: 40rem;
      left: calc(50% - 20rem);
    }
  } */

/* @keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-3rem);
      transform: translateX(-50%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
      transform: translateX(-50%);
    }
  } */

@media only screen and (max-width: 1440px) {
  .modal {
    width: 75%;
    /* height: 60vh; */
    padding: 2rem;
  }
}

@media only screen and (max-width: 1024px) {
  .modal {
    width: 85%;
    /* height: 70vh; */
    padding: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .modal {
    width: 90%;
    /* height: 75vh; */
    /* padding: 1rem; */
  }
}

@media only screen and (max-width: 425px) {
  .modal {
    width: 90%;
    /* height: 80vh; */
    /* padding: 1rem; */
  }
}

/* ######################################################### */

@media only screen and (max-height: 1000px) and (min-width: 1920px) {
  .modal {
    height: 80vh;
  }
}

@media only screen and (max-height: 700px) and (max-width: 1920px) {
  .modal {
    height: 80vh;
  }
}

@media only screen and (max-height: 700px) and (max-width: 768px) {
  .modal {
    height: fit-content;
  }
}

@media only screen and (max-height: 500px) {
  .modal {
    height: 80vh;
  }
}
